<div class="card" style="width: 28rem; height: 28rem; margin-top: 2rem;">
<p id="notice"><%= notice %></p>

<div class="input-group mb-5">
<strong>Title:</strong>
  <% @post.title %>
</p>
<strong>Body:</strong>
  <%= @post.body %>
</div>
</div>
